@model OnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Kategori Güncelleme</h2>
<br />
@using (Html.BeginForm("KategoriGüncelle", "Kategori", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(x => x.KategorAd)
                    @Html.TextBoxFor(x => x.KategorAd, new {@class="form-control"})
                    @Html.HiddenFor(x => x.Kategoriid)
                </div>
                <br />
                <button class="btn btn-warning">Güncelle</button>
            }

