@using OnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Derpartman Adı: @ViewBag.d</li>
</ol>
<table class="table table hover">
    <tr>
        <th>PERSONEL</th>
        <th>SATIŞLAR</th>
    </tr>
    @foreach(var X in Model)
            {
                <tr>
                    <td>@X.PersonelAd @X.PersonelSoyad</td>
                    <td><a href="/Departman/DepartmanPersonelSatis/@X.Personelid" class="btn btn-default" style="background-color:orangered">Satışlar</a></td>
                </tr>
            }
</table>

